.idea
/vendor
/node_modules
/public/stuff/*
!/public/stuff/manifests
/src/Assets/rev
/src/Assets/vars/sprites.scss
/src/Translation

/logs/*
!/logs/.gitkeep
/tmp
!/tmp/.gitkeep
/var/*
!/var/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep

# phpunit junk
.phpunit.result.cache

yarn-error.log

/coverage

composer.lock

